/**
 * @file
 * Views Vanilla Javascript Slideshow.
 *
 * Filename:     vvjs.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.vvjs .slideshow-items {
  overflow: hidden;
}

.vvjs .slideshow-items > .slideshow-item {
  display: none;
}

.vvjs .slideshow-items > div:first-of-type {
  display: block;
}

.vvjs .slideshow-inner {
  position: relative;
}

.vvjs .slideshow-inner > .slide-indicators {
  background-color: transparent !important;
  width: 100%;
}

.vvjs .display-0 {
  display: none;
}

.time-in-seconds,
.nav-dots-numbers:not(.dots,
.numbers) > .dots-numbers-button {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 8px;
  line-height: 0;
}

.slide-indicators.Off {
  display: none;
}

.dots-numbers-inactive {
  display: inline;
  width: auto;
}

.vvjs .nav-dots-numbers.dots .dots-numbers-button {
  all: unset;
  border: none;
}

.vvjs .nav-dots-numbers .dots-numbers-button {
  cursor: pointer;
}

.vvjs .nav-dots-numbers.dots > .dots-numbers-button,
.vvjs .nav-dots-numbers.numbers > .dots-numbers-button {
  opacity: 100;
}

.vvjs .nav-dots-numbers.dots > .dots-numbers-button {
  padding: 0 !important;
  margin: 0 8px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  font-size: 0 !important;
  line-height: initial !important;
  transition: width 0.3s ease-in-out;
  border-width: 1px;
  border-style: solid;
}

.vvjs .nav-dots-numbers.dots > .dots-numbers-button.active {
  width: calc(2 * 12px) !important;
  border-radius: 3px !important;
}

/* Animate slideshow */
.vvjs__animate-fading {
  animation: fading 5s ease-in-out infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.vvjs__animate_opacity {
  animation: opac 0.8s ease-out;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.vvjs__animate_top {
  position: relative;
  animation: animatetop 0.6s ease-out;
}

@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }

}

.vvjs__animate_left {
  position: relative;
  animation: animateleft 0.6s ease-out;
}

@keyframes animateleft {
  from {
    left: -100px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }

}

.vvjs__animate_right {
  position: relative;
  animation: animateright 0.6s ease-out;
}

@keyframes animateright {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }

}

.vvjs__animate_bottom {
  position: relative;
  animation: animatebottom 0.6s ease-out;
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }

}

.vvjs__animate_zoom {
  animation: animatezoom 0.6s ease-out;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.05);
  }

}
