/**
 * @file
 * Views Vanilla Javascript Slideshow.
 *
 * Filename:     vvjs-style.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.vvjs .nav-dots-numbers.numbers > .active {
  font-weight: bold;
  text-decoration: underline;
}

.vvjs .nav-dots-numbers {
  min-height: calc(2 * 20px);
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vvjs .nav-dots-numbers .button {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 6px;
  max-height: 40px;
}

.vvjs .nav-dots-numbers .play {
  font-weight: bold;
}
