/**
 * @file
 * Views Vanilla Javascript Slideshow.
 *
 * Filename:     vvjs.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.vvjs {
  overflow: hidden;
}

.vvjs,
.vvjs * {
  box-sizing: border-box;
}

.hidden-element {
  display: none;
}

.vvjs .vvjs-items {
  overflow: hidden;
}

.vvjs .vvjs-items > .vvjs-item {
  display: none;
  transition: transform 0.5s ease-in-out;
}

.vvjs .vvjs-items > div:first-of-type {
  display: block;
}

.vvjs .vvjs-inner {
  position: relative;
}

/* Arrows */
.vvjs .vvjs-inner > .slide-indicators {
  background-color: transparent !important;
  width: 100%;
}

.vvjs .slide-indicators button {
  all: unset;
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  min-height: 48px;
  min-width: 48px;
  font-size: 48px;
  text-decoration: none !important;
  background-color: transparent !important;
}

.vvjs  .slide-indicators button {
  top: calc(50% - 24px);
}

.vvjs .vvjs-inner.not-zero > .slide-indicators button,
.vvjs .vvjs-inner.numbers.zero > .slide-indicators button,
.vvjs .vvjs-inner.numbers.not-zero > .slide-indicators button,
.vvjs .vvjs-inner.dots.zero > .slide-indicators button,
.vvjs .vvjs-inner.dots.not-zero > .slide-indicators button {
  top: calc(50% - 48px);
}

.vvjs .slide-indicators .next-arrow {
  right: 48px;
}

.vvjs .slide-indicators .prev-arrow {
  left: 48px;
}

.vvjs .slide-indicators.arrows-sides {
  opacity: 1;
}

.vvjs.arrows-top .slide-indicators {
  opacity: 0.2;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.vvjs.arrows-top .slide-indicators:hover {
  opacity: 100;
  outline: none;
  background-color: transparent !important;
}

.vvjs.arrows-sides .vvjs-inner {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.vvjs.arrows-sides .slide-indicators .next-arrow {
  right: -50px;
}

.vvjs.arrows-sides .slide-indicators .prev-arrow {
  left: -50px;
}

.vvjs .display-0 {
  display: none;
}

.next-arrow svg,
.prev-arrow svg {
  width: 50px;
  height: 50px;
  fill: gray;
}

/* Bottom nav */
.play-pause-button svg {
  width: 40px;
  height: 40px;
  fill: gray;
}

.nav-dots-numbers:not(.dots,
.numbers) > .dots-numbers-button {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 8px;
  line-height: 0;
}

.vvjs .nav-dots-numbers.dots .dots-numbers-button {
  all: unset;
  border: none;
  cursor: pointer;
}

.vvjs .nav-dots-numbers.numbers .dots-numbers-button {
  cursor: pointer;
}

.vvjs .nav-dots-numbers.dots > .dots-numbers-button,
.vvjs .nav-dots-numbers.numbers > .dots-numbers-button {
  opacity: 100;
}

.vvjs .nav-dots-numbers.dots > .dots-numbers-button {
  padding: 0 !important;
  margin: 10px 8px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  font-size: 0 !important;
  line-height: initial !important;
  transition: width 0.3s ease-in-out;
  border-width: 1px;
  border-style: solid;
}

.vvjs .nav-dots-numbers.dots > .dots-numbers-button.active {
  width: calc(2 * 12px) !important;
  border-radius: 3px !important;
}

/* For any slideshow */
.vvjs-hero-content,
.vvjs.slideshow.a-fade .vvjs-item-inner,
.vvjs.hero-slideshow.a-fade .vvjs-item-inner img {
  animation: opac 0.8s ease-out;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.vvjs.slideshow.a-zoom .vvjs-item-inner,
.vvjs.hero-slideshow.a-zoom .vvjs-item-inner img {
  animation: animatezoom 0.6s ease-out;
}

@keyframes animatezoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}

/* For NOT hero slideshow */
.vvjs.slideshow.a-top .vvjs-item-inner {
  position: relative;
  animation: animatetop 0.6s ease-out;
}

@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }

}

.vvjs.slideshow.a-left .vvjs-item-inner {
  position: relative;
  animation: animateleft 0.6s ease-out;
}

@keyframes animateleft {
  from {
    left: -100px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }

}

.vvjs.slideshow.a-right .vvjs-item-inner {
  position: relative;
  animation: animateright 0.6s ease-out;
}

@keyframes animateright {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }

}

.vvjs.slideshow.a-bottom .vvjs-item-inner {
  position: relative;
  animation: animatebottom 0.6s ease-out;
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }

}
